.kiwwwilab-ic-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
}

.kiwwwilab-ic-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kiwwwilab-ic-before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.kiwwwilab-ic-slide-button:before {
  content: "";
  top: 50%;
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  transform: translate(calc(-50% + 3px), -50%) rotate(90deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='white'%3E%3Cpath d='M480-116 276-320l20-20 184 182 184-182 20 20-204 204ZM296-620l-20-20 204-204 204 204-20 20-184-182-184 182Z'/%3E%3C/svg%3E");
}

.kiwwwilab-ic-slide-button {
  top: 0;
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: white;
}

.kiwwwilab-ic-before-wrap .kiwwwilab-ic-before {
  width: auto;
  height: 100%;
  max-width: none;
}

.kiwwwilab-ic-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: ew-resize;
  margin: 0;
  z-index: 10;
}

.kiwwwilab-ic-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.kiwwwilab-ic-placeholder {
  padding: 20px;
  background: #f0f0f0;
  border: 1px dashed #ccc;
  text-align: center;
}
